<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string></string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Need to access for share your location</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>Need to access for share your location</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Need to access for share your location</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Need to permission to reach microphone</string>
	<key>UIUserInterfaceStyle</key>
	<string>Light</string>
	<key>NSCameraUsageDescription</key>
	<string>Need to permission for reach to camera</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Need to permission for select photo</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.676777019347-s4ij28rdgmqie8gg2r68h8oofga8ai7e</string>
			</array>
		</dict>
	</array>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
					<key>UISceneStoryboardFile</key>
					<string>Main</string>
				</dict>
			</array>
		</dict>
	</dict>
</dict>
</plist>
